[submodule "workflows/bismark_pivot"]
	path = workflows/bismark_pivot
	url = https://github.com/CompEpigen/WGBS_workflows
[submodule "workflows/bismark_multilib"]
	path = workflows/bismark_multilib
	url = https://github.com/KerstenBreuer/Bismark_TWGBS_multilib
[submodule "workflows/bismark_singlelib"]
	path = workflows/bismark_singlelib
	url = https://github.com/CompEpigen/WGBS_workflows
